.fade {
  animation: testAnimation linear both;
  /* animation-timeline: view(); */
  animation-timeline: scroll();
}

@keyframes testAnimation {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    /* transform: translateY(0); */
    transform: translateY(-50px);
  }
}
